/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,600);
@import url(https://fonts.googleapis.com/css?family=Lato:400,600);
@import url(https://fonts.googleapis.com/css?family=Overpass+Mono:600);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base000: 	#000000;
$base03:    #002b36;
$base02:    #073642;
$base01:    #252525;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$backgroundBase: #fff8da;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base000;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $backgroundBase;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.annotation {
	position: absolute;
	bottom: 2px;
	color: $base01;
	font-size: .85em;
	width: 100%;
	font-family: 'Overpass Mono', sans-serif;
}

h1.title:nth-child(2) {
	font-size: 2.35em !important;
	font-weight: 100 !important;
}

.conference {
	margin-top: 15px !important;
	padding-left: 5px;
}

#title-container {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: flex-start;
    padding: 1em;
    width: 100%;
}

.delightful-title {
	animation: text-shadow 1.5s ease-in-out infinite;
	line-height: 1;
	margin-bottom: 80px !important;
	font-size: 4em !important;
	font-family: 'Lato', sans-serif;
	color: #ffffff !important;
}

.delightful-bounce {
	animation: text-shadow 1.5s ease-in-out infinite;
}

.mango-highlight {
	color: $mangoYellow;
}

.white-highlight {
	color: #ffffff;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #ffa62e, 
            0 0 0 #ffcb2e, 
            0 0 0 #ffec2e, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #ffa62e, 
            0 0.25em 0 #ffcb2e, 
            0 -0.125em 0 #ffec2e, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #ffa62e, 
            0 -0.125em 0 #ffcb2e, 
            0 0.0625em 0 #ffec2e, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #ffa62e, 
            0 0.0625em 0 #ffcb2e, 
            0 -0.03125em 0 #ffec2e, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #ffa62e, 
            0 0 0 #ffcb2e, 
            0 0 0 #ffec2e, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

.simple-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width:100%;
}

.centered {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.gif-sneak-peek {
	border: 5px solid $base01;
	background-size: cover;
	flex-basis:25%;
	padding:30px;
}

.new-gif-sneak-peek {
	border: 5px solid #ffffff;
	color: $orange;
}

.client-func-gif {
	background-image: url("../../../assets/frying-lumpia.gif");
}

.orchestrator-func-gif {
	background-image: url("../../../assets/conductor.gif");
}

.activity-func-gif {
	background-image: url("../../../assets/unruly-orchestra.gif");
}

.entity-func-gif {
	background-image: url("../../../assets/replay.webp");
}
